<section class="exercises-section">
  <div class="container">
    <div class="exercises-header">
      <h2 class="exercises-title">Exercises</h2>
      <ul class="exercises-filter-list">
        <li class="exercises-filter-item">
          <button class="filter-btn active" type="button" data-filter="Muscles">Muscles</button>
        </li>
        <li class="exercises-filter-item">
          <button class="filter-btn" type="button" data-filter="Body parts">Body parts</button>
        </li>
        <li class="exercises-filter-item">
          <button class="filter-btn" type="button" data-filter="Equipment">Equipment</button>
        </li>
      </ul>
    </div>
    
    <ul class="exercises-list" id="exercises-container"></ul>
    
    <div class="pagination" id="pagination"></div>
  </div>
</section>