<footer class="footer">
  <div class="container footer-container">
    <div class="footer-brand">
      <a class="logo footer-logo" href="./index.html">
        ВАША <span class="logo-accent">ЕНЕРГІЯ</span>
      </a>
      <p class="footer-description">
        If you're looking for an efficient way to improve your health and keep yourself in good shape.
      </p>
    </div>

    <div class="footer-subscribe">
      <p class="subscribe-text">Subscribe to our newsletter</p>
      <form class="footer-form">
        <input class="footer-input" type="email" placeholder="Email" required />
        <button class="footer-btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="copyright">© 2026 | All Rights Reserved</p>
  </div>
</footer>