<section class="quote-section">
  <div class="container">
    <div class="quote-container">
      <div class="quote-icon-thumb">
        <svg class="quote-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-quote"></use>
        </svg>
      </div>
      <div class="quote-content">
        <h2 class="quote-title">Quote of the day</h2>
       <p class="quote-text" id="quote-text">
  Exercise is a celebration of what your body can do. Not a punishment for what you ate.
</p>

<p class="quote-author" id="quote-author">Anonymous</p>
      </div>
    </div>
  </div>
</section>